// Variables
$navbar-height:              64px;
$navbar-background:          #fff;
$navbar-border:              #ddd;

$navbar-collapse-breakpoint: 768px;

$navbar-item-font-size:      14px;
$navbar-item-border-width:   4px;
$navbar-item-color:          #555;
$navbar-item-active-color:   #333;
$navbar-item-border:         transparent;
$navbar-item-active-border:  #673ab7;

$bg-color: #F1E9DA;
$link-text-color: #fff;

$button-bg-1: #541388;
$button-bg-2: #D90368;
$button-bg-3: #104547;
$button-bg-4: #4F000B;
$button-bg-5: #F28123;
$border-radius: 6px;
$overlay-color: #fff;
